/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    margin: 0;
    padding: 0;
}

.form-container {
    background-color: #fff;
    width: 80%;
    max-width: 800px;
    margin: 50px auto;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    font-size: 24px;
    color: #333;
}

p {
    font-size: 18px;
    margin-bottom: 20px;
}

.options-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 30px;
}

/* Estilo para los botones de opciones */
.button-option {
    background-color: #2e8bc0;
    color: #fff;
    padding: 15px 25px;
    font-size: 18px;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    transition: background-color 0.3s ease;
    width: 220px;
    text-align: center;
}

.button-option:hover {
    background-color: #1d6b8b;
}

.button-option i {
    margin-right: 10px;
}

/* Estilo para el botón de cerrar sesión */
.logout-button {
    background-color: #ff4c61;
    color: #fff;
    padding: 15px 25px;
    font-size: 18px;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    margin-top: 20px;
    width: 200px;
    text-align: center;
}

.logout-button:hover {
    background-color: #e13a50;
}

.logout-button i {
    margin-right: 10px;
}
