/* Estilos generales */
body {
    background-color: #1a1a2e; /* Fondo oscuro */
    color: #f5f5f5; /* Texto blanco suave */
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh; /* Asegura que el footer quede al fondo */
}

/* Contenedor principal que alberga el logo y el formulario */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex: 1; /* Permite que el contenedor ocupe el espacio restante */
}

/* Logo */
.logo-container img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

/* Texto de bienvenida */
.welcome-text h1 {
    color: #e94560; /* Rojo vibrante */
    margin: 10px 0;
}

.welcome-text p {
    margin: 10px 0;
}

/* Botón de inicio de sesión */
.login-btn-container {
    margin-top: 20px;
}

.login-btn {
    display: inline-block;
    padding: 15px 30px;
    background-color: #e94560; /* Rojo vibrante */
    color: white;
    text-decoration: none;
    font-size: 18px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.login-btn:hover {
    background-color: #f05969; /* Hover más claro */
}

/* Estilos del footer */
footer {
    background-color: #16213e;
    padding: 10px 0;
    text-align: center;
    color: #f5f5f5;
    position: relative;
}

.footer-content p {
    margin: 0;
}
