body {
    font-family: Arial, sans-serif;
    background-color: #0B1A35;
    color: #FFFFFF;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding-left: 20%;
}

h1, h2 {
    color: #FF4C61;
}

form {
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #FFFFFF;
}

input[type="text"],
input[type="number"],
input[type="date"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    background-color: #2E8BC0;
    color: #FFFFFF;
}

input[type="submit"] {
    background-color: #FF4C61;
    color: #FFFFFF;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #FF6A80;
}
