body {
    background-color: #1a1a2e; /* Fondo oscuro */
    color: #f5f5f5; /* Texto blanco suave */
    font-family: Arial, sans-serif;
    height: 100vh;
    margin: 0;
}

h1, h2 {
    color: #FF4C61;
}

form {
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #FFFFFF;
}

input[type="text"],
input[type="number"],
input[type="date"],
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    background-color: #2E8BC0;
    color: #FFFFFF;
}

input[type="submit"] {
    background-color: #FF4C61;
    color: #FFFFFF;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #FF6A80;
}
