/* Estilos generales para la página de inicio de sesión */
body {
    background-color: #1a1a2e; /* Fondo oscuro */
    color: #f5f5f5; /* Texto blanco suave */
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 100vh; /* Asegura que el footer quede al fondo */
}

/* Contenedor principal que alberga el logo y el formulario */
.container {
    display: flex;
    align-items: center;  /* Centra verticalmente los elementos */
    justify-content: center; /* Centra horizontalmente */
    flex: 1; /* Permite que el contenedor ocupe el espacio restante */
}

/* Logo */
.logo-container {
    flex: 0 1 40%; /* Hace que el logo ocupe un 40% del contenedor */
    display: flex;
    justify-content: flex-start; /* Alinea el logo a la izquierda */
    padding-right: 20px; /* Añade espacio entre el logo y el formulario */
}

.logo-container img {
    max-width: 600px; /* Limita el tamaño del logo para que no ocupe demasiado */
    height: auto;
}

/* Formulario de inicio de sesión */
.login-container {
    flex: 0 1 60%; /* El formulario ocupa el 60% del contenedor */
    background-color: #16213e; /* Fondo oscuro para el formulario */
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    width: 100%;
    max-width: 400px; /* Limita el tamaño máximo del formulario */
}

/* Título del formulario */
.login-container h2 {
    color: #e94560; /* Rojo vibrante */
    margin-bottom: 20px;
}

/* Estilos para los campos de entrada */
.login-container input[type="text"],
.login-container input[type="password"] {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #1a1a2e; /* Fondo oscuro para campos */
    color: #f5f5f5; /* Texto blanco */
    font-size: 16px;
}

/* Estilo del botón de enviar */
.login-container input[type="submit"] {
    padding: 15px 30px;
    background-color: #e94560; /* Rojo vibrante */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    width: 100%;
    transition: background-color 0.3s;
}

.login-container input[type="submit"]:hover {
    background-color: #f05969; /* Hover más claro */
}

/* Estilos para enlaces (si es necesario) */
.login-container a {
    color: #e94560; /* Rojo vibrante para enlaces */
    text-decoration: none;
    font-size: 14px;
}

.login-container a:hover {
    text-decoration: underline;
}

/* Footer */
footer {
    background-color: #16213e;
    padding: 10px 0;
    text-align: center;
    color: #f5f5f5;
    width: 100%;
    margin-top: auto; /* Esto asegura que el footer se empuje hacia abajo */
}

.footer-content p {
    margin: 0;
}
